.lightbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   justify-content: space-around;
    gap:14px;
}


.SideHeadline img {
    display: block;
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
}

h1, h2 {
  text-align: center;
  color: green;
  font-size: 35px;
  font-family: 'Averia Serif Libre';
  margin-left: auto;
  margin-right: auto;  
}

.lightboxpictures  {
    width: 180px;
    height: 100px; 

  }

.lightBoxWindow {
    display: none;
    position: fixed;
    align-items: center;
    padding: 25px; 
    left: 10%;
    right: 10%;
    top: 10%;
    background-color: black;
    overflow: auto;   
  }

  .lightboxMini {
  display: none;
  position: fixed;
  padding: 25px;
  left: 5%;
  right: 5%;
  background-color: black;   
}

  
 .lightBocContent {
    position: relative;
    background-color: black;
    margin: auto;
    padding: 0;
    border-top: 20px;
    width: 100%;
    max-width: 970px;
    display: block;
  
  }

  .lightBoxImage {
    
display: block;
margin-left: auto;
margin-right: auto;
    width: 100%;
    height: 100%;  
    }

    .close {
        color: white;
        position: absolute;
        top: 0px;
        right: 3px;
        font-size: 35px;
        font-weight: bold;
    }
    .close:hover, .close:focus  {
        cursor: pointer;
    }

    .previousImage, .nextImage {
        cursor: pointer;
        position: absolute;
        top: 50%;
        padding: 16px;
        margin-top: -50px;
        color: white;
        font-size: 20px;
        transition: 0.6s ease;
    }

    .nextImage {
        right: 0;
   }

.lbbutton {
    cursor: pointer;

}

  .lightBoxItem {
      margin-bottom: 25px;
      padding-top: 25px;
  }

.smallLightBoxItem {
    width: 70px;
    height: 37px; 
    opacity: 0.6;
    margin: auto;
}

.smallpictures {
    display: block;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
}
.column {
    display: inline-block;
}

.active {
  opacity: 1;
}


