.articlesHeadline {
    color: green;
}

header {
grid-area: header;
margin-bottom: 14px;

   
}

        .logga {
    background-color: aqua;
    max-width: 100%;
        }

        .meny {
    background-color: brown;
    width: auto;
    height: 25px;
        }
        

main {    
    margin-right: 14px;
    grid-area: main;
    background-color: white;
    width: auto;
    gap: 14px;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "mainslideshow"
    "articleblock1"
    "citat"
    "articleblock2"
}

        .slideshow {    
grid-area: mainslideshow ;
        }

        .articleblock1 {
            grid-area: articleblock1;
        }

        .citat {
            grid-area: citat;
        }

        .articleblock2 {
            grid-area: articleblock2;
        }

                .articlesHeadline {
    grid-area: articlesHeadline;
                }

                .article1 {
    grid-area: article1;
   
                }

                .article2 {
grid-area: article2 ;
                }

                .article3 {
grid-area: article3 ;
                }

                .article {
                    display: grid;
                    row-gap: 0px;
                    grid-template-areas: 
            "articlepicture"
            "articletext";
                }

                .articletext{
                    grid-area: articletext;
                }

                .articlepicture {
                    grid-area: articlepicture;
                    height: 150px;
                    max-width: 200px;
                   
                }

                .articlePictures { height: 150px; width: 170px;}



aside {
    grid-area: aside;
    border: 5px;
    background-color: rgb(rgb(57, 221, 65), green, blue);
    
    width: auto;
    max-height: 100%;
    display: block;
    margin-left: 10px;
}

.nextTime {
    margin-top: 14px;;
    border-width: 4px;
    border-style:dotted;
    border-color: black;
}
aside p {
    text-align: center;
    font-size: 20px;
}

aside h3 {
    margin-top: 0px;
    font-size: 23px;
    margin-bottom: 18px;
}

aside h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

aside h5 {
    font-style: bold;
    margin-bottom: 5px;
    margin-top: 10px;
}

form p {
    text-align: left;
    font-size: 15px;
    margin: 0px;
}

input {
    width: 100%;
    margin-bottom: 14px;;
}

aside h4 {
    text-align: center;
    font-size: 25px;
}


.asidePictures {
    max-width: 100%;
}

.asideForm {
    grid-area: asideForm;
}

footer{
    grid-area: footer;
    background-color: lightgray;
    width: auto;
    margin-top: 14px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "leftfooter middlefooter rightfooter";
}

.leftfooter {
    grid-area: leftfooter;
}

.middlefooter {
    grid-area: middlefooter;
}

.rightfooter {
    grid-area: rightfooter;
}



@media screen and (min-width: 750px) {
        .container {
                max-width: 960px;
                display: grid;
                grid-template-rows: auto;
                height: auto;
                grid-template-columns: 5fr 2fr;
                grid-template-areas: 
                "header header"
                "main aside"
                "main ."
                "footer footer";
            }
    
        }

@media screen and (min-width: 565px) {
    
  
   .article {
       margin-bottom: 14px;;
   }

   .slideshow {
       margin-bottom: 14px;
   }

  

        

            .threeArticleBlocks {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: auto;
                column-gap: 14px;
                
                grid-template-areas: 
                "articlesHeadline articlesHeadline articlesHeadline"
                "article1 article2 article3"
                ;
            }

            .logga2 {display: none;}
        }

@media screen and (max-width: 565px) {
    .container {
    min-width: 200px;
    display: grid;
    grid-template-rows: auto;
    grid-column: 1fr;
   
    grid-template-areas: 
    "header"
    "main"
    "aside"
    "footer";
    }


    aside {
      
        margin-top: 14px;
    }

    .slideshow {
        display: none;
    }

    .threeArticleBlocks {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        column-gap: 14px;
        
        grid-template-areas: 
        "articlesHeadline articlesHeadline"
        "article1 article2"
        "article3 ."
        ;
    }

    .logga1 {display: none;}

    .article{
        margin-bottom: 14px;
    }

    footer {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "leftfooter middlefooter"
        "rightfooter .";
    }
}

@media screen and (max-width: 395px) {
    .container {
    min-width: 200px;
    display: grid;
    grid-template-rows: auto;
    grid-column: 1fr;
   
    grid-template-areas: 
    "header"
    "main"
    "aside"
    "footer";
    }

    .threeArticleBlocks {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        column-gap: 14px;
        
        grid-template-areas: 
        "articlesHeadline"
        "article1" 
        "article2"
        "article3"
        ;
    }

    aside {
        margin-left: 0px;
        margin-top: 14px;
    }

    .slideshow {
        display: none;
    }

    footer {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "leftfooter"
        "middlefooter"
        "rightfooter"
    }
}


