p {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

h1, h2, h3, h4, h5 { font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.dropDownMenu {
    display: none;
    margin-top: 0px;
}

.cursor:hover, .cursor:focus  {
    cursor: pointer;
}

.openMeny i {
   font-size: 25px;
    display: block;
   color: white;
   margin-left: 3px;
}

.closeMeny {
    font-size: 35px;
    font-weight: bold;
    display: block;
   color: white;
}

.openMeny{
    background-color: brown;
}

.dropDownMenu ul {
    list-style: none;
    margin: 0px;
    padding: 0px; 
}

.dropDownMenu a {
    text-decoration: none;
    border: 1px solid transparent;
    color:  white;
    font-size: 30px;
    font-style: bold;    
}
 .navbar ul {
     list-style: none;
     margin: 0px;
     padding: 0px;
 }

header a {
    font-family:Arial, Helvetica, sans-serif;
}
 .navbar li {
     display: inline;
     margin-right: 20px;
 }

 .navbar a {
    text-decoration: none;
    border: 1px solid transparent;
    color:  white;
    font-size: 30px;
    font-style: bold;
 }

 .navbar a:hover {
     color:  black;     
     border-color:  black;
     margin-top: 10px;
     margin-bottom: 10px;
 }

 




header {
grid-area: header;
margin-bottom: 14px;

   
}

        .logga {
    background-color: aqua;
    max-width: 100%;
        }

        .meny {
    background-color: brown;
    width: auto;
    /* height: 38px; */
    mini-height: 20px;
    height: auto;
        }
        

main {    
    margin-right: 14px;
    grid-area: main;
    background-color: white;
    width: auto;
    gap: 14px;
    margin-bottom: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "mainslideshow"
    "citat1"
    "articleblock1"
    "citat2"
    "articleblock2"
}

        .slideshow {    
grid-area: mainslideshow ;

        }

        .articleblock1 {
            grid-area: articleblock1;
        }

        .citat1 {
            grid-area: citat1;
        }

        .citat2 {
            grid-area: citat2;
        }

        .citat h2{
            text-align: center;
            color: green;
            font-size: 35px;
            font-family: 'Averia Serif Libre';
            margin-left: 40px;
            margin-right: 40px; 
        }

        .citat {
            margin-top: 35px;
            margin-bottom: 35px;
        }

        .citat img {
            display: block;
            max-width: 150px;
            margin-left: auto;
            margin-right: auto;
        }

        .articleblock2 {
            grid-area: articleblock2;
        }

                .articlesHeadline {

    color: brown;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
                }

    .articlesHeadline h1 {
        margin: 0px;
        font-size: 25px;
    }


                .articletext p {
                    margin: 0px;
                    color: brown;
                }

                .articlePictures { 
                    
                    width: 100%; 
                    max-width: 400px;
                    min-width: 100px;
                    }

                    .threeArticleBlocks {
                        display: block;
                        flex-direction: row;
                        flex-wrap:wrap;
                        justify-content:space-between;
                        column-gap: 8px;
                        border-width: 7px;
                        padding-left: 14px;
                        padding-right: 14px;
                        border-width: 7px;
                        border-style:dotted;
                        border-color: brown;
                        ;
                    }
                    .artiklar {
                        display: flex;
                        flex-direction: row;
                        flex-wrap:nowrap;
                        justify-content:space-between;
                        column-gap: 8px;
                        
                        
                        
                    }

                    .article{
                        margin-bottom: 14px;
                    }

aside {
    grid-area: aside;
    border: 5px;
    background-color: rgb(rgb(57, 221, 65), green, blue);   
    width: auto;
    max-height: 100%;
    display: block;
    margin-left: 10px;
   
}

.nextTime {
    margin-top: 14px;;
    border-width: 4px;
    border-style:solid;
    border-color: brown;
}
aside p {
    text-align: center;
    font-size: 20px;
}

aside h3 {
    margin-top: 0px;
    font-size: 23px;
    margin-bottom: 18px;
}

aside h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

aside h5 {
    font-style: bold;
    margin-bottom: 5px;
    margin-top: 10px;
}

form p {
    text-align: left;
    font-size: 15px;
    margin: 0px;
}

input {
    width: 100%;
    margin-bottom: 14px;;
}



aside h4 {
    text-align: center;
    font-size: 25px;
}


.asidePictures {
    max-width: 100%;
}

.asideForm {
    grid-area: asideForm;
}

footer{
    grid-area: footer;
    background-color: lightgray;
    width: auto;
    margin-top: 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    padding-left: 5px;
    padding-right: 5px;
}

.footertext {
    min-width: 190px;
}






@media screen and (min-width: 616px) {
    
    .container {
        max-width: 960px;
        display: grid;
        grid-template-rows: auto;
        height: auto;
        grid-template-columns: 6fr 2fr;
        grid-template-areas: 
        "header header"
        "main aside"
        "main ."
        "footer footer";
    }
 
   .article {
       margin-bottom: 14px;;
   }

   .slideshow {
       margin-bottom: 14px;
   }

     main {
      margin-bottom: 40px;
  }

    .logga2 {
                display: none;}
      
    .miniMeny {
             display: none;
            }
    
        }


@media screen and (max-width: 616px) {
    .container {
    min-width: 200px;
    display: grid;
    grid-template-rows: auto;
    grid-column: 1fr;  
    grid-template-areas: 
    "header"
    "main"
    "aside"
    "footer";
    }

    .navbar {
        display: none;
    }

   
    main {
        margin-bottom: 40px;
    }

    aside {
      
        margin-top: 14px;
    }

    .logga1 {
        display: none;}

}


@media screen and (max-width: 395px) {
    
    aside {
        margin-left: 0px;
    }

    .slideshow {
        display: none;
    }

    .artiklar {
        display: block;
    }
}